/*!---HEADER---*/
header {
    background-color: white;
    top: 0px;
    border: 1px solid black;
  
    nav.navbar {
      padding: 10px;
      div.container-fluid{
        a.navbar-brand img {
          height: 85px;
          width: 100px;
          margin-left: 15px;
        }
        .collapse {
            ul.navbar-nav{
            li.nav-item {
              margin: 5px;
              a.nav-link{
                color: $color-terciario;
                transition: 1s;
                font-size:$size-principal;
                &:hover {
                  color: $color-principal;
                }
              }
              .dropdown-menu{
                li{
                  a{
                    color: rgb(96, 86, 86);
                    transition:1s;
                    &:hover {
                      color:  $color-principal;
                    }
                  }
                }
              }
            }
          }
          form.d-flex{
            button.btn{
                color: black;
                border-color: $color-principal;
                transition: 1s;
                &:hover{
                    background-color:$color-secundario;
                } 
            }
          }
        }
      }
    }
  }
  