/*!---FONTS---*/
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

//!VARIABLES
$color-principal: rgb(255,102,178);
$color-secundario: #ffc2d1;
$color-terciario:#000000;
$size-principal:17px;


//!VARIABLES
$font-size:14px,16px,18px,20px,23px,25px;

/**---------RESET------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "League Spartan", sans-serif;
}


.subtitulo{
    font-size: 30px;
    color:white;
    text-align: center;
    background-color: $color-terciario;
    padding: 10px;
    margin-bottom: 25px;
    font-weight: 350;
}
//!extends
%img{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

//!mixins
@mixin flex($flex,$justify,$aling){
    display: $flex;
    justify-content: $justify;
    align-items: $aling;
}




